$docs-color--black87: rgba(0, 0, 0, .87);
$docs-color--black54: rgba(0, 0, 0, .54);
$docs-color--black38: rgba(0, 0, 0, .38);
$docs-color--black12: rgba(0, 0, 0, .12);
$docs-color--black8: rgba(0, 0, 0, .08);
$docs-color--black4: rgba(0, 0, 0, .04);

$docs-color-background--default: #fff;
$docs-color-background--accent: #f5f5f5;
