html {
  overflow-y: scroll;
}

.docs-body {
  min-width: 320px;

  @include desktop {
    overflow-x: hidden;
  }
}

.docs-brand-border {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 4px;
  background-color: #007ad0;
  z-index: 5;
}
