.docs-content {
  max-width: $docs-width-content--mobile;
  padding: 24px;
  padding-top: 88px;
  overflow: auto;
  box-sizing: border-box;
  pointer-events: auto;

  @include desktop {
    max-width: $docs-width-content--desktop;
    margin: auto;
    padding: 48px;
    padding-top: 110px;
  }

  @media print {
    padding: 24px 0 0 !important;
  }

  h1:first-child {
    margin-top: -8px; // align page title
  }

  // place headers under the search bar for anchor links
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: -48px;
    padding-top: 80px;
  }
}
