.docs-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 260px;
  padding: 0 0 16px;
  padding-left: calc(50% - 940px / 2 - 260px);
  background-color: #f5f5f5;
  overflow-x: hidden;
  overflow-y: auto;

  &__hr {
    margin: 18px 24px;
    border: none;
    border-top: 1px solid rgba($docs-color--lightgray, .5);
  }

  &__logo {
    display: block;
    width: 100%;
    height: 64px;
    margin-bottom: 40px;
    background-image: url(../logo.svg);
    background-repeat: no-repeat;
    background-position: 16px center;
    background-size: 180px auto;
    box-sizing: border-box;
  }

  &__item {
    display: block;
    padding: 2px 16px;
    color: $docs-color--darkgray;
    font-size: 14px;
    line-height: 1.5;

    &[href]:hover {
      color: $docs-color--gray;
    }
  }

  &__ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    .docs-nav__ul {
      margin-bottom: 2px;
      padding-left: 16px;
    }
  }

  &__li {
    display: block;
    margin: 0;
    padding: 0;

    &--category {
      > .docs-nav__ul {
        padding-left: 0;
      }

      > .docs-nav__item {
        margin-top: 12px;
        color: $docs-color--lightgray;
        font-size: 12px;
      }
    }

    &--group {
      margin-bottom: 24px;

      > .docs-nav__item {
        font-size: 16px;
        font-weight: bold;
      }

      > .docs-nav__ul {
        padding-left: 0;
      }
    }
  }
}
