.lesson-nav {
  overflow: auto;
}

.docs-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: $docs-width-sidebar;
  padding: 0 0 16px;
  box-sizing: content-box;
  border-right: 10000px solid $docs-color--black54;
  background-clip: padding-box;
  background-color: $docs-color-background--default;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 3;

  @include desktop {
    top: 0;
    width: $docs-width-sidebar;
    padding-left: calc(50% - #{$docs-width-content--desktop} / 2 - #{$docs-width-sidebar});
    border-right: none;
    background-color: $docs-color-background--accent;
  }

  &__hr {
    margin: 18px 24px;
    border: none;
    border-top: 1px solid $docs-color--black12;
  }

  &__logo {
    display: block;
    width: 100%;
    height: 64px;
    margin-bottom: 24px;
    border-bottom: 1px solid $docs-color--black12;
    background-image: url(../logo.svg);
    background-repeat: no-repeat;
    background-position: 16px center;
    background-size: $docs-width-logo--mobile auto;
    box-sizing: border-box;

    @include desktop {
      margin-bottom: 40px;
      border-bottom: none;
      background-size: $docs-width-logo--desktop auto;
    }
  }

  &__item {
    display: block;
    padding: 12px 24px;
    color: $docs-color--black87;
    font-size: 14px;
    line-height: 1.5;

    @include desktop {
      padding: 2px 16px;
    }

    &[href]:hover {
      color: $docs-color--black54;
    }
  }

  &__ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    .docs-nav__ul {
      margin-bottom: 2px;
      padding-left: 16px;
    }
  }

  &__li {
    display: block;
    margin: 0;
    padding: 0;

    &--category {
      > .docs-nav__ul {
        padding-left: 0;
      }

      > .docs-nav__item {
        margin-top: 12px;
        color: $docs-color--black54;
        font-size: 12px;
      }
    }

    &--group {
      margin: 12px 0;

      > .docs-nav__item {
        font-size: 16px;
        font-weight: bold;
      }

      > .docs-nav__ul {
        padding-left: 0;
      }
    }

    &--subgroup {
      margin: 12px 0;

      > .docs-nav__item {
        font-weight: bold;
      }
    }
  }
}
