.docs-search {
  display: none;
  width: 100%;
  max-width: 1024px;
  height: calc(100vh - 64px);
  pointer-events: auto;
  margin: auto;
  overflow-y: auto;
  background-color: $docs-color-background--default;

  @include desktop {
    width: $docs-width-content--desktop + $docs-width-sidebar * 2;
    max-width: $docs-width-content--desktop + $docs-width-sidebar * 2;
    margin: auto;
  }

  &-area {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    margin-top: 6px;
    padding-right: 16px;
    color: $docs-color--black54;
    overflow: hidden;
    user-select: none;
  }

  &-result {
    margin-top: 32px;

    &__details {
      margin: 0;
      color: $docs-color--black54;
    }
  }

  &-results {
    list-style-type: none;
    margin: 0;
    padding: 0 24px 12px;
    background-color: $docs-color-background--default;
    word-wrap: break-word;

    @include desktop {
      max-width: $docs-width-content--desktop;
      margin: auto;
      padding: 12px 48px 48px;
      box-sizing: border-box;
    }

    h2 {
      margin-top: 32px;
    }
  }
}
