@import "components/typography/tn-a";

.docs-topbar {
  position: fixed;
  top: 4px;
  width: $docs-width-content--mobile;
  pointer-events: auto;
  z-index: 2;

  @include desktop {
    min-width: $docs-width-content--desktop + $docs-width-sidebar * 2;
  }

  &__inner {
    display: flex;
    width: $docs-width-content--mobile;
    max-width: 100vw;
    height: 64px;
    background-color: $docs-color-background--default;
    line-height: 64px;
    box-sizing: content-box;

    @include desktop {
      max-width: $docs-width-content--desktop;
      margin: auto;
      border-bottom: 1px solid $docs-color--black12;
    }

    &--search-open {
      border-bottom: 1px solid $docs-color--black12;

      .docs-topbar__search-box {
        opacity: 1 !important;
        pointer-events: auto !important;
      }

      .docs-topbar__icon--search-hide {
        display: block;

        /* stylelint-disable-next-line max-nesting-depth */
        @include desktop {
          display: none;
        }
      }

      .docs-topbar__icon--menu-toggle,
      .docs-topbar__icon-search-show {
        display: none !important;
      }
    }
  }

  &__link {
    margin-right: 16px;
    white-space: nowrap;

    &:last-child {
      margin-right: 20px;
    }
  }

  &__icon {
    @include docs-glyph-hover;

    &--search {
      flex: 0 0 28px;
      margin-left: 28px;
      padding-top: 20px;
      pointer-events: none;
    }

    &--search-hide {
      display: none;
    }

    &--search-close {
      width: 48px;
      opacity: 0;
      pointer-events: none;
    }
  }

  &__search-box {
    width: 100%;
    height: 100%;
    padding: 6px 0;
    border: none;
    outline: none;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    box-sizing: border-box;

    @include desktop {
      font-size: $tn-font-size--default;
      opacity: 1;
      pointer-events: auto;
    }
  }
}
