@import "components/typography/tn-a";

.docs-topbar {
  display: flex;
  max-width: 940px;
  height: 64px;
  padding: 0 48px;
  padding-left: 32px;
  box-sizing: border-box;
  border-bottom: 1px solid $docs-color--black12;
  line-height: 64px;
  pointer-events: auto;

  &__search {
    flex: 1 1 100%;
  }

  &__search-icon {
    width: 48px;
    margin-top: 6px;
    color: rgba(0, 0, 0, .54);
    overflow: hidden;
  }

  &__searchinput {
    width: 100%;
    height: 48px;
    border: none;
    outline: none;
  }

  &__link {
    margin-left: 12px;
  }

  &__links {
    display: flex;
    flex: 0 0 auto;
  }
}
