.docs-wrapper {
  position: relative;
  min-height: 100vh;
  background: $docs-color-background--default;
  background-clip: content-box;
  z-index: 1;
  pointer-events: none;

  @include desktop {
    width: $docs-width-content--desktop + $docs-width-sidebar * 2;
    margin: auto;
  }
}
