@mixin docs-glyph-hover() {
  flex: 0 0 48px;
  width: 48px;
  color: $docs-color--black54;
  font-size: 32px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  box-sizing: border-box;

  &:hover {
    transition: color .1s ease;
    color: $docs-color--black38;
  }
}
